body {
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

@media (min-width: 992px) {
    .container {
      max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
      max-width: 720px;
    }
}

.container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.bg-theme {
    background-color: rgb(255, 215,75);
}

/* header */
.header {
    padding: 5em 0 0 0;
    text-align: center;
    height: 15em;
    background-size: auto 90%;
    background-position: 2em 1.5em;
    background-repeat: no-repeat;
}


.header .title{
    font-size: xx-large;
    font-weight: bold;
}

/* footer */
footer {
    padding: 1em 0 1em 0em;
    text-align: center;
}

/* anker */
a {
}

a:hover {
  color: rgb(78, 44, 1);
}

/* Headers */
.h1, h1, .h2, h2 {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 25px 0 15px 0;
    padding-bottom: 0.3em;
    color: black;
}

.h1, h1 {
    font-size: 2.0em;
}

.h2, h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

.h3, h3 {
    font-size: 1.25em;
    padding-bottom: 0.3em;
}

p {
    margin-bottom: 2rem;
}

/* code */
.highlight {
    margin: 2rem 0 2rem 0;
}
pre.highlight {
    background-color: rgb(245,245,245);
    padding: 2px;
}

/* CSS for Twemoji */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
