---
---

@import "{{ site.theme }}";

@media print, screen and (max-width: 2000px) {
    body {
      word-wrap:break-word;
    }
  
    header {
      padding:0;
    }
  
    header ul, header p.view {
      position:static;
    }
  
    pre, code {
      word-wrap:normal;
    }
  }