---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  color:#069;
  font-weight: normal;
  text-decoration: underline;
}

header h1 a:hover, a:focus {
  color:#069;
  font-weight: bold;
  text-decoration: none;
}

@media print, screen and (min-width: 960px) {

        div.wrapper {
          width:auto;
          margin:0;
        }
      
        header, section, footer {
          float:none;
          position:static;
          width:auto;
          margin: 0 10%;
        }
      
        header {
          padding-right:320px;
        }
      
        section {
          margin-bottom: 20px;
          border:1px solid #e5e5e5;
          border-width:1px 0;
          padding:20px 0;
        }
      
        header a small {
          display:inline;
        }
      
        header ul {
          position:absolute;
          right:50px;
          top:52px;
        }
}
      
